<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktail Genius - Login</title>
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <!-- Left part with the logo -->
            <div class="col-lg-6 d-none d-lg-block login-logo-container">
                <div class="overlay">
                    <a href="/"><img src="{{url_for('static', filename='images/logos/logo.png')}}" class="fa-fade" alt="Platform logo" ></a>
                </div>
            </div>
            <!-- Right part with the login form -->
            <div class="col-lg-6 bg-light layout_bg" style="height: 100vh;">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <form class="bg-light-warning border p-4 rounded" style="width: 80%;" action="/user_login" method="post">
                        <h2 class="mb-4">Login</h2>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" placeholder="Enter your username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" name="password" id="passwordInput" placeholder="Enter your password">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="rememberMe">
                                    <label class="form-check-label" for="rememberMe">Remember me</label>
                                </div>
                            </div>
                            <div class="form-group col-md-6 text-right">
                                <a href="#">Forgot password?</a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                        <div class="text-center mt-3">
                            Don't have an account? <a href="/signup">Sign Up</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>

    <script>
        const togglePassword = document.getElementById('togglePassword');
        const passwordInput = document.getElementById('passwordInput');
    
        togglePassword.addEventListener('click', function () {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            togglePassword.querySelector('i').classList.toggle('fa-eye-slash');
            togglePassword.querySelector('i').classList.toggle('fa-eye');
        });
    </script>

</body>
</html>
